<head>
<link type="text/css" rel="stylesheet" href="css/layout.css">
</head>

<section class="flat">
    <button>Button</button>
    <button class="hover">:hover</button>
    <button class="active">:active</button>
</section>

<section class="border">
    <button>Button</button>
    <button class="hover">:hover</button>
    <button class="active">:active</button>
</section>

<section class="gradient">
    <button>Button</button>
    <button class="hover">:hover</button>
    <button class="active">:active</button>
</section>

<section class="press">
    <button>Button</button>
    <button class="hover">:hover</button>
    <button class="active">:active</button>
</section>