<html>

<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">

    <link type="text/css" rel="stylesheet" href="css/layout.css">
    <link type="text/css" rel="stylesheet" href="https://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css">
    <link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.multiselect/1.13/jquery.multiselect.css">
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.multiselect/1.13/jquery.multiselect.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.js"></script>

    <script src="js/init.js"></script>
    <script src="js/visuals.js"></script>

    <title>Portfolio Kickstarter</title>

</head>

<Title>
    Niggas
</Title>

<body>
    <div id="panel">
        From
        <input type="text" id="start-date" autocomplete="off"> 
        To
        <input type="text" id="end-date" autocomplete="off">
        Model
        <select id="model" >
            <option value="101">Mean absolute Deviation</option>
            <option value="102">Mean Variance</option>
        </select>

        <select id="symbols" class="multiselect" multiple="multiple" size="1">
        </select>
        
        <input type="hidden" id="rate" min="-10" max="10" step="0.01" value="0.01" autocomplete="off" title="Interest rate"> 
        Risk
        <input type="number" id="risk"  value="13">
        Max Investment
        <input type="number" id="maxinvest" value="4">
        Total Investment
        <input type="number" id="totinvest"  value="1000000">
        Rebalancing 
        <select id="rebalancing" autocomplete="off" disabled>
            <option value="0">None</option>
            <option value="3">Quarterly</option>
            <option value="6">Half-yearly</option>
            <option value="12">Yearly</option>
        </select>

        <input type="submit" id="quote" value="Quote">
        <input type="submit" id="reset" value="Reset">

    </div>

    <div id="visuals">
        <div id="plots">
            <div id="trend-plot" class="plot">
            </div>
            <div id="frontier-plot" class="plot">
            </div>
        </div>
        <div id="piechart">
        </div>

    </div>

    <div id="loading">
        <h1 style="color: lightgrey"> <span id="progress"> Pulling data...</span></h1>
    </div>

</body>
</html>
